\:root
    --color-light-red:               #FF5F5F
    --colod-black:                   #202020
    --color-dark-black:              #0D0D0D
    --color-orange:                  #FF671F
    --color-light-gray:              #EAEAEA
    --color-dark-gray:               #CDCDCD
    --color-white:                   #FFFFFF


    --bg-light-gray:                 #F4F4F4