.basket
	display: flex
	flex-direction: column
	&-table
		display: flex
		flex-direction: column
		justify-content: center
		&-element
			display: flex
			align-items: center
			height: gem(160)
			img
				display: flex
				height: gem(74)
			span
				display: flex
				margin-left: gem(20)
			&-price
				display: flex
				flex-direction: column
				justify-content: space-between
