.home_main
	padding-bottom: gem(120)
.card
	width: gem(271)
	height: gem(490)
	display: flex
	flex-direction: column
	border: 1px solid #D0D0D0
	background: #fff
	justify-content: space-between
	&-img
		display: flex
		width: 100%
		height: gem(261)
		padding: gem(6) gem(6) gem(0) gem(6)
		background: #ffff
		align-items: center
		justify-content: center
	&-name
		display: flex
		padding: gem(0) gem(20)
		width: 100%
		margin: gem(20) gem(0)
	&-rate
		display: flex
		flex-direction: row
		padding: gem(0) gem(20)
		margin-bottom: gem(20)
		align-items: center
		div
			display: flex
			margin-right: gem(15)
			img
				width: gem(15)
				height: gem(15)
				margin: gem(0) gem(2.5)
			img:first-child
				margin-left: gem(0)
			img:last-child
				margin-right: gem(0)
		span
			display: flex
	&-price
		display: flex
		margin-bottom: gem(8)
		flex-direction: row
		justify-content: space-between
		padding: gem(0) gem(20)
		div:first-child
			display:flex
			flex-direction: column
			span
				display: flex
			p
				display: flex
				span:first-child
					text-decoration: line-through var(--color-red)
				span:last-child
					margin-left: gem(6)
					font-size: gem(10)
					text-decoration: none
		.card-check
			display: flex
			flex-direction: row
			justify-content: center
			align-items: center
			img
				display: flex
				margin-right: gem(7)
			span
				display: flex
				font-weight: 500
	.card-check-none
		display: none
	&.inactive
		.card-check
			display: none
		.card-check-none
			display: flex
			flex-direction: row
			justify-content: center
			align-items: center
			img
				display: flex
				margin-right: gem(7)
			span
				display: flex
				font-weight: 500


	&-button
		display: flex
		flex-direction: row
		height: gem(58)
		cursor: pointer
		div:first-child
			display: flex
			background: var(--color-orange)
			width: gem(206)
			justify-content: center
			align-items: center
			span
				text-transform: uppercase
		div:last-child
			display: flex
			background: var(--color-orange-light) center
			width: gem(63)
			justify-content: center
	&-button-none
		display: none
	&.inactive
		.card-button
			display: none
		.card-button-none
			display: flex
			height: gem(58)
			cursor: pointer
			div
				display: flex
				background: var(--color-dark-gray)
				width: gem(269)
				justify-content: center
				align-items: center
				span
					text-transform: uppercase




.news
	display: flex
	flex-direction: row
	height: gem(591)
	&-left
		display: flex
		width: gem(780)
		position: relative
		background: var(--color-light-gray)
		margin-right: gem(13)
	&-right
		display: flex
		flex-direction: column
		width: gem(560)
		div:nth-child(2)
			margin: gem(9) gem(0)
	&-block
		display: flex
		height: gem(191)
		position: relative
		background: var(--color-light-gray)
	&-title
		display: flex
		justify-content: center
		align-items: center
		width: gem(195)
		height: gem(88)
		background: var(--bg-light-gray)
		position: absolute
		right: 0
		bottom: 0
.news-section
	padding: gem(60) gem(42) 0 gem(42)
.carousel-section
	// display: block
	margin-top: gem(120)
	padding: 0 gem(148)
	position: relative
	h2
		width: 100%
		text-align: center
		margin-bottom: gem(60)

		

