@import './common/vars.sass'
@import './common/gem.scss' 
@import '../libs/owl/owl.carousel.css'
@import '../libs/magnific/magnific-popup.css'
@import './common/header.sass'
@import './common/footer.sass'
@import './common/popups.sass'
@import './common/mobile-menu.sass'
@import './home.sass'
@import './catalog.sass'
@import './product.sass'
@import './account.sass'
@import './payment.sass'
@import './delivery.sass'
@import './cart.sass'
@import './cart_2.sass'

*
    box-sizing: border-box

html, body
    width: 100%

body,
main
    // overflow-x: hidden

body
    display: flex
    flex-direction: column
    font-family: var(--main-font)
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeLegibility
    &.mobile-menu-open
        overflow: hidden
    &.modal-active
        overflow: hidden
header        
    .header_main-left
        position: relative
        img
            position: absolute
            height: gem(65)
        p
            margin-left: gem(90)



main
    position: relative
    width: 100%
    background: var(--bg-light-gray)

a
    text-decoration: none
    outline: none

img
    max-width: 100%
    height: auto

section
    position: relative
    background-repeat: no-repeat
    background-position: center
    background-size: cover

.fluid-container
    width: 100%
    position: relative

.container
    position: relative
    width: var(--container-width)
    min-width: var(--container-width)
    margin: 0 auto

.row
    display: flex
    flex-direction: row

.row-reverse
    display: flex
    flex-direction: row-reverse

.column
    display: flex
    flex-direction: column

.column-reverse
    display: flex
    flex-direction: column-reverse

.s-visible,
.xs-visible,
.xxs-visible
    display: none

.hidden
    display: none

.lazy
    opacity: 0
    transition: opacity 0.3s ease
    &Loaded
         opacity: 1
.opacity_none
    opacity: 0
input , textarea
    &::-webkit-input-placeholder,
    &::placeholder
        transition: all .3s
    &:focus
        &::-webkit-input-placeholder,
        &::placeholder
            color: transparent

button[type='submit']
    cursor: pointer
.owl-carousel
    .owl-item
        img
            width: auto
    .owl-nav, .owl-nav.disabled
        display: flex
        position: absolute
        top: gem(-45)
        right: gem(10)
        button
            height: gem(30)
            line-height: 0
            display: flex
            outline: none
            span
                font-size: gem(40)
                line-height: gem(20)
            &.owl-prev
                margin-right: gem(20)
@media only screen and (max-width : 1024px)
    .s-hidden
        display: none

    .s-visible
        display: block
    .owl-carousel .owl-nav.disabled
        top: unset
        bottom: gem(-60)
        right: gem(20)
    .owl-carousel.owl-drag .owl-item
        display: flex
        justify-content: center
@media only screen and (max-width : 768px)
    .owl-carousel .owl-nav, .owl-carousel .owl-nav.disabled    
        top: unset
        margin-right: gem(53)
        bottom: gem(-60)
    header
        .header_main-left
            position: relative
            img
                position: unset
                height: gem(35)
                width: gem(35)
                margin-left: gem(64)
@media only screen and (max-width : 480px)

    body
        &.modal-active
            position: fixed

    .xxs-visible
        display: block

    .xxs-hidden
        display: none
    .owl-carousel .owl-nav, .owl-carousel .owl-nav.disabled
        top: unset
        right: 0
        bottom: gem(-40)
        margin-right: 0
    .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav.disabled button.owl-prev
        margin-right: 0
.contacts_main
    .more_contacts-inner
        display: flex
        flex-direction: column
        .title-h3:nth-child(3)
            margin: gem(25) 0 gem(10) 0
        .schedule
            display: flex
            flex-direction: row
            &-left
                margin-right: gem(80)