.product-main .carousel-section
	margin: gem(120) 0
	h2
		text-transform: uppercase
.product
	display: flex
	flex-direction: column
	div
		display: flex
	&-screen
		display: flex
		flex-direction: row
		border: gem(1) solid #D0D0D0
		margin: gem(30) gem(45) gem(40) gem(45)
		background: #fff
		&-left
			display: flex
			width: gem(777)
			height: gem(398)
			padding: gem(15) gem(136)
			justify-content: center
			border-right: gem(1) solid #D0D0D0
			align-items: center

			img
				height: 100%
				width: 100%
		&-right
			display: flex
			flex-direction: column
			width: gem(744)
			&-top
				display: flex
				flex-direction: column
				&-title
					display: flex
					flex-direction: column
					margin: gem(40) 0 gem(20) gem(40)
					h2
						margin-bottom: gem(20)
			&-bottom
				border-top: gem(1) solid #D0D0D0
	&-card-rate
		display: flex
		align-items: center
		margin: gem(20) 0 gem(40) gem(40)
		span
			margin-left: gem(15)
			color: var(--coror-grey-very-light)
	&-card-stars
		display: flex
		img
			width: gem(15)
			height: gem(15)
			margin: 0 gem(2.5)
		img:first-child
			margin-left: 0
		img:last-child
			margin-right: 0
		&-price
			p
				font-size: gem(24)
	&-price
		margin: gem(40) 0 gem(40) gem(40)
		display: flex
		flex-direction: column
		p
			display: flex
		&-main
			margin-bottom: gem(40)
		&-button
			display: flex
			align-items: center
			background: var(--color-orange)
			border-radius: gem(3)
			cursor: pointer
			transition: all 0.3s ease
			&:hover
				background: #FF7F43
			span
				color: var(--color-white)
				text-transform: uppercase
				padding: gem(10) gem(20)
	&-feedback
		display: flex
		border: gem(1) solid #D0D0D0
		margin-left: gem(45)
		flex-direction: column
		width: gem(873)
		background: #fff
		margin-bottom: gem(20)
		&-info
			display: flex
			margin: gem(30) 0 gem(15) gem(30)
			&-name
				display: flex
				margin-right: gem(30)
				font-weight: 500 !important
		&-massage
			display: flex
			margin: gem(15) 0 gem(30) gem(30)
		&-button
			display: flex
			flex-direction: row
			margin: 0 0 gem(40) gem(45)
			span
				color: var(--color-orange)
				border: gem(1) solid #D0D0D0
				border-bottom: none
				padding: gem(30) gem(50)
			div
				border-bottom: gem(1) solid #D0D0D0
				width: gem(675)
.real_price
	font-size: gem(24)
	margin-right: gem(5)
.number
	display: flex
	height: gem(35)
	border: gem(1) solid #D0D0D0
	border-radius: gem(3)
	background: var(--bg-light-gray)
	align-items: center
	margin-right: gem(15)
	input
		width: gem(40)
		border: none
		text-align: center
		background: none
	span
		font-size: gem(14)
		cursor: pointer
	.minus
		width: gem(15)
		height: gem(15)
		margin: gem(10) gem(5)
	.plus
		width: gem(15)
		height: gem(15)
		margin: gem(10) gem(5)

@media only screen and (max-width : 1024px)
	.product-feedback
		margin-left: 0
		margin: auto
		width: gem(873)
		&-button
			margin-left: 0
			margin: auto
			width: gem(873)
			margin-bottom: gem(30)
	.product-main .carousel-section
		margin-bottom: gem(120)
	.product-screen-left
		padding: gem(15) gem(26)

@media only screen and (max-width : 768px)
	.product-screen
		margin: gem(50) gem(30)
	.product-screen-right-top-title
		margin-top: gem(20)
		margin-bottom: 0
	.product-card-rate
		margin: gem(40)
	.product-price
		margin-top: gem(10)
		margin-bottom: gem(10)
	.product-price-main
		margin: gem(40) 0
	.product-feedback
		margin-left: 0
		margin: auto
		width: gem(708)
		&-button
			margin-left: 0
			margin: auto
			width: gem(708)
			margin-bottom: gem(30)
			span
				width: gem(230)
	.product-main .carousel-section
		margin-top: gem(50)
	.product-screen-left
		padding: gem(50) gem(20)
		height: gem(398)
@media only screen and (max-width : 480px)
	.product-main .navigation
		margin-bottom: gem(30)
		div
			flex-wrap: wrap
			align-items: center
			margin-bottom: 0
			a 
				font-size: gem(10)
				margin-top: gem(10)
			img
				margin-top: gem(10)
		h2
			font-size: var(--font-size-desc1)
			margin-bottom: gem(5)
	.product-feedback
		width: gem(290)
		&-button
			width: gem(290)
			margin-bottom: gem(30)
			span
				width: gem(230)	
	.product-screen
		flex-direction: column
		margin: gem(30) gem(15)
		padding: gem(6) 0 gem(20) 0
		height: unset
		align-items: center
		&-left
			width: 100%
			height: gem(221)
			padding: 0 gem(6)
			border: none
	.product-screen-right
		width: gem(290)
	.product-screen-right-top-title
		margin: 0
	.product-screen-right-top
		align-items: center
		margin-top: gem(20)
		h2
			text-align: center
	.product-card-rate
		margin: gem(30) 0
		margin-bottom: 0
	.product-screen-right-bottom
		border-top: none
		justify-content: center
	.product-price
		margin: 0
	.product-price-main
		justify-content: center
		margin-bottom: gem(30)
	.product-feedback-button
		span
			padding: 0
			border: none
			color: var(--color-black)
		div
			display: none
	.product-feedback
		div span
			font-size: var(--font-size-desc2)
	.product-main .carousel-section h2
		text-transform: uppercase
